.header-contaiener {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2c364c;
}
.header-logoimg {
  height: 20px;
}
.li {
  list-style-type: none;
}
.header-name {
  color: white;
  font-size: 14px;
  margin: 10px;
}
.header-names-contaiener {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logout-button {
  height: 26px;
  width: 56px;
  border-radius: 8px;
  border-width: 0px;
  outline: none;
  color: white;
  background-color: #6366f1;
  font-size: 8px;
  font-family: Roboto;
}
